@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Sistema criado para gerenciar controle de vendas e cadastro de vendedores. </p>
<br/>
<p>Versão: 1.0</p>
<p></p>
<hr />
<p>Autor: @ViewData["Autor"]</p>

<address>
    <strong>Mais informações: </strong> <a href = "https://www.linkedin.com/in/paulodetarsoteles">LinkedIn</a>
</address>
