@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<hr />
<br />

<address>
    Rua Paulo de Tasso Teles Ramos, 610C<br />
    Fortaleza, CE - Lagoa Redonda - CEP: 60831-080<br />
    <br />

    <abbr title="Phone">Telefone: </abbr>
    (85) 9 8736-3276
</address>

<address>
    <strong>Support:</strong> <a href="mailto:paulodetarso.teles@hotmail.com">paulodetarso.teles@hotmail.com</a><br />
</address>
<br />
