@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">ERROR</h1>
<h2 class="text-danger">@Model.Message</h2>
<hr />
<br />
<h4>Por favor, entre em contato com o suporte. </h4>
<br />

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<br />